ml-32m.zip
ml-latest-small.zip
movies_metadata.csv
ml-32m/links.csv
ml-32m/movies.csv
ml-32m/ratings.csv
ml-32m/tags.csv
ml-latest-small/links.csv
ml-latest-small/movies.csv
ml-latest-small/ratings.csv
ml-latest-small/tags.csv
